body {
    padding: 0px;
    margin: 0px;
}
.nav {
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #fff;
}
.nav img {
    display: flex;
    margin: auto;
}
.location {
    display: flex;
    justify-content: center;
    padding: 10px 0px 15px 0px;
    background-color: rgb(224, 224, 224);
    color: rgb(82, 82, 82);
}
h6 {
    font-size: 13.5px;
    margin: 5px 0px 0px 10px;
}
i.fas.fa-map-marker-alt {
    margin: 4px 0px 0px 10px;
    font-size: 17px;
}
.book-menu {
    display: flex;
    flex-flow: column;
    align-items: center;
    background-color: #f6f6f6;
    padding-bottom: 25px;
}
.book-menu p {
    padding-bottom: 20px;
}
.explore-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ba00dd;
    color: #fff;
    width: 240px;
    height: 40px;
    border-radius: 20px;
}
.works {
    display: flex;
    flex-flow: column;
    align-items: center;
}
.work-btn {
    display: flex;
    justify-content: left;
    align-items: center;
    height: 55px;
    width: 400px;
    margin: 20px;
    background-color: #f6f6f6;
    border-radius: 20px;
}
i.fas.fa-mobile-alt {
    margin-left: 30px;
    padding-right: 20px;
}
i.fas.fa-list-ul {
    margin-left: 30px; 
    padding-right: 20px;  
}
i.fas.fa-store {
    margin-left: 30px;
    padding-right: 20px;
}
.res-card img {
    width: 300px;
}
.restaurants {
    display: flex;
    flex-flow: column;
    align-items: center;
    background-color: #f6f6f6;
}
.res-card {
    background-color: aqua;
    width: 300px;
    margin: 20px;
    border-radius: 10px 10px 10px 10px;
}
.res-card p {
    margin: 7px 0px 10px 10px;
    padding-bottom: 5px;
}
.res-card img {
    border-radius: 10px 10px 0px 0px;
}
.res-text-section {
    display: flex;
    flex-flow: row;
}
.heart {
    padding-left: 120px;  
    align-self: center;
    font-size: 25px
}.cone {
    color: #fff;
    background-color: #ba00dd;
    width: 18px;
    height: 20px;
    border-radius: 15px;
}