body {
    padding: 0px;
    margin: 0px;
}
.nav {
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #fff;
}
.nav img {
    display: flex;
    margin: auto;
}
.location {
    display: flex;
    justify-content: center;
    padding: 10px 0px 15px 0px;
    background-color: rgb(224, 224, 224);
    color: rgb(82, 82, 82);
}
h6 {
    font-size: 13.5px;
    margin: 5px 0px 0px 10px;
}
i.fas.fa-map-marker-alt {
    margin: 4px 0px 0px 10px;
    font-size: 17px;
}
.book-menu {
    display: flex;
    flex-flow: column;
    align-items: center;
    background-color: #f6f6f6;
    padding-bottom: 25px;
}
.book-menu p {
    padding-bottom: 20px;
}
.explore-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ba00dd;
    color: #fff;
    width: 240px;
    height: 40px;
    border-radius: 20px;
}
.works {
    display: flex;
    flex-flow: column;
    align-items: center;
}
.work-btn {
    height: 55px;
    margin: 20px;
    background-color: #f6f6f6;
}